mat-grid-tile {
    border: 1px solid #eee;
}

.btn-remove-image {
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}