<div class="container mt-5">
    <div class="card p-3">
        <div class="row">
            <div class="col-6">

                <form #orderForm="ngForm"
                      (ngSubmit)="placeOrder(orderForm)">

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Full name</mat-label>
                        <input matInput
                               placeholder="Full name"
                               [(ngModel)]="orderDetails.fullName"
                               name="fullName">
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Full address</mat-label>
                        <input matInput
                               placeholder="Full address"
                               [(ngModel)]="orderDetails.fullAddress"
                               name="fullAddress">
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Contact number</mat-label>
                        <input matInput
                               placeholder="Contact number"
                               [(ngModel)]="orderDetails.contactNumber"
                               name="contactNumber">
                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>Alternate contact number</mat-label>
                        <input matInput
                               placeholder="Alternate contact number"
                               [(ngModel)]="orderDetails.alternateContactNumber"
                               name="alternateContactNumber">
                    </mat-form-field>

                    <div align="right">
                        <button type="submit" mat-stroked-button color="primary">Place Order</button>
                    </div>
                </form>

            </div>
            <div class="col-6">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus ex quos autem natus quo minus
                recusandae doloribus cupiditate a officia, illo beatae quae odit accusantium velit nemo enim ipsum
                dicta.
            </div>
        </div>
    </div>
</div>