mat-grid-tile {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.image-container {
    position: relative;
    height: 300px;
}

.home-page-product-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}